<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ currentMonth }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <calendar id="myCalendar"
  locale="pt-BR"
  calendarMode="month" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1"
  [currentDate]="currentDate"
  (onTitleChanged)="onViewTitleChanged($event)">
</calendar>

</ion-content>
